form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  input {
    width: 50vw;
    margin-top: 10px;
  }
}

.inputBar,
.submitBtn {
  font-size: 2.5rem;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ebe9d9;
  box-shadow: 2px 5px 13px 3px rgba(0, 0, 0, 0.64);
}

.submitBtn {
  color: darkblue;
  cursor: pointer;
  margin-top: 10px;
}

.fa-plus-circle {
  font-size: 3rem;
}

@media only screen and (min-width: 700px) {
  .inputBar {
    width: 40vw;
  }
}
